<div class="navigation-container">
    <nav>
        <div class="category-icon">
            <img src="/images/All.png" alt="All Categories">
            <button class="category-btn" onclick="filterAdvice('all')">All Categories</button>
        </div>
        <div class="category-icon">
            <img src="/images/Abdominal Pain.jpeg" alt="Abdominal Pain">
            <button class="category-btn" onclick="filterAdvice('abdo')">Abdominal Pain</button>
        </div>
        <div class="category-icon">
            <img src="/images/Asthma.png" alt="Asthma">
            <button class="category-btn" onclick="filterAdvice('asthma')">Asthma</button>
        </div>
        <div class="category-icon">
            <img src="/images/Allergy.jpeg" alt="Allergy">
            <button class="category-btn" onclick="filterAdvice('allergy')">Allergy</button>
        </div>
        <div class="category-icon">
            <img src="/images/Cellulitis.jpeg" alt="Cellulitis">
            <button class="category-btn" onclick="filterAdvice('cellulitis')">Cellulitis</button>
        </div>
        <div class="category-icon">
            <img src="/images/Chest Pain.jpeg" alt="Chest Pain">
            <button class="category-btn" onclick="filterAdvice('chest')">Chest Pain</button>
        </div>
        <div class="category-icon">
            <img src="/images/Deep vein thrombosis.jpeg" alt="DVT">
            <button class="category-btn" onclick="filterAdvice('dvt')">DVT</button>
        </div>
        <div class="category-icon">
            <img src="/images/Dengue.jpeg" alt="Dengue">
            <button class="category-btn" onclick="filterAdvice('dengue')">Dengue</button>
        </div>
        <div class="category-icon">
            <img src="/images/Diabetes.jpeg" alt="Diabetes">
            <button class="category-btn" onclick="filterAdvice('diabetes')">Diabetes</button>
        </div>
        <div class="category-icon">
            <img src="/images/Fever.png" alt="Fever">
            <button class="category-btn" onclick="filterAdvice('fever')">Fever</button>
        </div>
        <div class="category-icon">
            <img src="/images/Gastroenteritis.png" alt="Gastroenteritis">
            <button class="category-btn" onclick="filterAdvice('gastroenteritis')">Gastroenteritis</button>
        </div>
        <div class="category-icon">
            <img src="/images/Giddiness.jpeg" alt="Giddiness">
            <button class="category-btn" onclick="filterAdvice('giddiness')">Giddiness</button>
        </div>
        <div class="category-icon">
            <img src="/images/Headache.jpeg" alt="Headache">
            <button class="category-btn" onclick="filterAdvice('headache')">Headache</button>
        </div>
        <div class="category-icon">
            <img src="/images/Head injury.jpeg" alt="Head Injury">
            <button class="category-btn" onclick="filterAdvice('headinjury')">Head Injury</button>
        </div>
        <div class="category-icon">
            <img src="/images/Hypertension.jpeg" alt="Hypertension">
            <button class="category-btn" onclick="filterAdvice('hypertension')">Hypertension</button>
        </div>
        <div class="category-icon">
            <img src="/images/Wound Care.png" alt="Wound Care">
            <button class="category-btn" onclick="filterAdvice('wound')">Wound Care</button>
        </div>
    </nav>
</div>