<div class="top-nav">
    <a href="/" class="nav-tab <%= path === '/' ? 'active' : '' %>" data-nav-key="home">Home</a>
    <a href="/appointments" class="nav-tab <%= path === '/appointments' ? 'active' : '' %>" data-nav-key="appointments">Appointments</a>
    <a href="/contacts" class="nav-tab <%= path === '/contacts' ? 'active' : '' %>" data-nav-key="contacts">Contacts</a>
</div> 