<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <header>
        <h1>IMPORTANT CONTACTS</h1>
        <p>Quick access to important hospital contact information</p>
        <div class="date-badge">ENGLISH</div>
    </header>
     <%- include('../partials/top-nav') %>
    <main>
        <div class="contacts-container">
            <div class="card">
                <div class="card-content">
                    <h3>KTPH Main Line</h3>
                    <p>Phone: 6777 5544</p>
                    <p>Available 24/7</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>Medical Social Worker</h3>
                    <p>Phone: 6777 3434</p>
                    <p>Operating Hours: 8:30 AM - 5:30 PM</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>Appointments</h3>
                    <p>Phone: 6777 8594</p>
                    <p>Operating Hours: 8:00 AM - 8:00 PM</p>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/navbar') %>
     <script src="/js/nav.js"></script>
</body>
</html> 