<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <header>
        <h1>HOSPITAL DISCHARGE ADVICE</h1>
        <p>Access organised important medical advice and care instructions following your hospital visit</p>
       <div class="date-badge">ENGLISH</div>
    </header>
    <main>
        <%- include('../partials/navbar') %>
        <div class="search-container">
            <h2>Search for Medical Advice</h2>
            <div class="search-bar">
                <input type="text" placeholder="Type to search...">
                <button>Search</button>
            </div>
        </div>
        <%- include('../partials/advice-cards') %>
    </main>
    <script src="/js/filterAdvice.js"></script>
</body>
</html> 